*
{
	margin:0px;
	padding:0px;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    color: #000000;
    background-color: #FFFFFF;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
	border-top-width:0;
	padding-top:0;
	padding-left:0;
	border-style:none;
}
#buttonBuscar
{
	width: 100px;
}
.barrabusqueda
{
	width:300px;}
.bloqueCategorias
{
	float: left;
	position: absolute;
	width:200px;
	height:400px;/*quitar cuando aya elementos a mostrar*/
	background-color:#555;
	left:25px;
	top:200px;
}
.subastas
{
	float: left;
	position: absolute;
	background-color:#888;
	left:250px;
	top:200px;
	width: 700px;
	height:400px;/*quitar cuando aya elementos*/
}
.regylog
{
	float: right;
	position: absolute;
	left:1175px;
	right: 50px;
	top: 200px;
}
.cabecera
{
	position: absolute;
	top: 50px;
	height:100px;
	width:100%;
	background-color:#E81614;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.5); 
	border: 1px solid black;
}
.pie
{
	position: absolute;
	bottom: 0px;
	top:600px;
	height:100px;
	width:100%;
	background-color:#E81614;
	box-shadow: 0px -8px 8px rgba(0,0,0,0.5); 
	border: 1px solid black;

}
.logosubasta
{
	position: absolute;
	top:-65px;
	left:200px;
	float: left;
	width: 235px; height: 194px;
}
.bestnid
{
	position: absolute;
	top:0px;
	left:400px;
	float: left;
}
.correo
{
	float: right;
	position: absolute;
	top:15px;
	right: 220px;
	color:#000;
	display:block;
	border-radius: 15px;
	font-size:150%;
	font-weight: bold;
	height: 35px;
	
}
#closeSessionBtn
{
	float: right;
	position: absolute;
	top:8px;
	right: 50px;
	color:#50361b;
	display:block;
	border-radius: 15px;
	font-size:150%;
	font-weight: bold;
	width: 150px;
	height: 35px;
}
input
{
	display:block;
	padding:10px;
	width:100%;
	border-radius: 15px;
}
input[type=submit]
{
	padding:10px;
	width:112%;
	color:#50361b;
	font-size:150%;
	font-weight: bold;
}
.formWrapper
{
	margin-top:15%;
	float:right;
	/*position: absolute;
	top:250px;
	left:1000px;*/
	width: 200px;

	/*margin-bottom: 50px;*/
	/*margin: auto auto;*/
}
.formTitle
{
	color:#50361b;
	font-weight: bold;
	font-size: 180%;
	text-align:center;
}
.smallText
{
	font-size:150%;
	margin:8px 0px;
}
.smallText span
{
	display:block;
	text-align: center;
}
a, a:hover, a:active, .smallText .button
{
	text-decoration: none;
	color:#50361b;
	font-weight: bold;
}
.smallText .button
{
	display: inline;
	cursor: pointer;
}
.hidden
{
	display: none;
}
ul {
	list-style-type: none;
}

a {
	color: #b63b4d;
	text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
h1 {
 	color: #FFF;
 	font-size: 24px;
 	font-weight: 400;
 	text-align: center;
 	margin-top: 80px;
 }

h1 a {
 	color: #c12c42;
 	font-size: 16px;
 }

 .accordion {
 	width: 100%;
 	max-width: 360px;
 	margin: 30px auto 20px;
 	background: #FFF;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #4D4D4D;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #b63b4d;
}

.accordion li.open i {
	color: #b63b4d;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.accordion li.default .submenu {display: block;}
/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: #444359;
 	font-size: 14px;
 }

 .submenu li {
 	border-bottom: 1px solid #4b4a5e;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #b63b4d;
 	color: #FFF;
 }
